* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

body{
	background-color: #222;
	font-family: Verdana;
	font-size: 100%;
}
.corpo{
	margin: auto;
	width: 1200px;
	margin-top: 10px;
}

nav {
	width: 300px;
	height: 500px;
	background-color: #444;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}

section {
	width: 870px;
	height: 500px;
	float: left;
	background-color: #fff;
	box-sizing: border-box;
	padding: 10px;
}

ul.menu{
	list-style-type: none;
}

ul.menu li {
	width: 200px;
	height: 30px;
	line-height: #777;
	color: #fff;
	margin-top: 5px;
	box-sizing: border-box;
	padding-left: 10px;
}

.btn {
	width: 100px;
	height: 30px;
	border: 1px solid #ddd;
	background-color: #2a578b;
	color: #fff;
	cursor: pointer;
}

.campo {
	width: 300px;
	height: 30px;
	border: 1px solid #ddd;
	margin-top: 5px;
	margin-bottom: 10px;
}